@import "normalize.css";

@font-face {
  font-family: "JaneAust";
  src: url("../../assets/fonts/JaneAust.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aspira";
  src: url("../../assets/fonts/Aspira.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PesaroLight";
  src: url("../../assets/fonts/PesaroLight.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

.jane-aust {
  font-family: "JaneAust";
}

.aspira {
  font-family: "Aspira";
}

.pesaro {
  font-family: "PesaroLight";
}

body {
  background-image: url("../../assets/images/sea-nettle.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto 60%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  height: 100vh;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.first {
  font-size: .6rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 90px;
  padding: 10px 25px 10px 25px;
  margin-top: -52px;
  text-align: center;
  font-weight: lighter;

}

.second {
  font-size: 3.4rem;
  height: 100px;
  margin-top: 17px;
  font-weight: lighter;

}

.date {
  position: fixed;
  left: 50%;
  bottom: -8px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-top: 1px solid #000;
  width: 90vw;
  max-width: 800px;
  text-align: center;
  padding-top: 4px;
  font-weight: lighter;
  font-size: 0.8rem;
}

.caption {
  writing-mode: vertical-lr;
  transform: rotate(180deg); /* https://stackoverflow.com/questions/40205702/how-to-write-vertical-text-from-bottom-to-top-without-using-transform-rotate */
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  font-size: 0.75rem;
  color: #bfb8a9;
}

.volume {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  float: left;
  font-size: 4rem;
  font-weight: lighter;
  margin-left: 5%;
  margin-top: -1%;
  color: #acacac;
}

.n {
  border-bottom: 3px dotted #acacac;
  font-size: 1.8rem;
  display: inline-block;
  height: 30px;
  width: 24px;
  color: #acacac;
  float: left;
  margin-top: 280px;
  margin-left: -63px;
}

.deg {
  font-size: 1.8rem;
  margin-top: 5%;
  color: #acacac;
  float: left;
  margin-top: 280px;
  margin-left: -41px;
}

@media (max-width: 400px) {

  .first {
    width: 80%;
    margin-top: 20px;
    font-size: 1rem;
    padding: 6px 25px 6px 25px;
  }

  .second {
    margin: -12px;
  }

  .volume {
    font-size: 2.5rem;
  }

  .n {
    font-size: 1.2rem;
    width: 14px;
    margin-top: 170px;
    margin-left: -40px;
    height: 18px;
  }

  .deg {
    font-size: 1.2rem;
    margin-top: 170px;
    margin-left: -24px;
  }
}

@media (min-width: 520px) {

  .first {
    font-size: 0.9rem;
    width: 130px;
  }

  .second {
    font-size: 5.4rem;
    margin-top: 0;
  }
}
